<a href="https://colab.research.google.com/github/Yash2019-ystg/ML-projects/blob/main/House_pricing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files                     #uploading cse file 
uploaded = files.upload()

Saving MagicBricks.csv to MagicBricks (12).csv

In [ ]:
import io                                                      
import pandas as pd  
import numpy as np
                                           
df = pd.read_csv(io.BytesIO(uploaded['MagicBricks.csv']))             #reading csv file via pandas
#df = df.reindex(np.random.permutation(df.index))
df.pop("Status")
print(df.head(5))
print(df.shape)
#y = df.pop("Price")
#df["Price"] = y
#df

    Area  BHK  Bathroom  ...   Transaction           Type  Per_Sqft
0  800.0    3       2.0  ...  New_Property  Builder_Floor       NaN
1  750.0    2       2.0  ...  New_Property      Apartment    6667.0
2  950.0    2       2.0  ...        Resale      Apartment    6667.0
3  600.0    2       2.0  ...        Resale  Builder_Floor    6667.0
4  650.0    2       2.0  ...  New_Property  Builder_Floor    6667.0

[5 rows x 10 columns]
(1259, 10)

In [ ]:

print(df['Area'].isnull().values.any())
print(df['BHK'].isnull().values.any())
print(df['Bathroom'].isnull().values.any())
print(df['Furnishing'].isnull().values.any())
print(df['Locality'].isnull().values.any())
print(df['Parking'].isnull().values.any())
print(df['Price'].isnull().values.any())
print(df['Transaction'].isnull().values.any())
print(df['Type'].isnull().values.any())
print(df['Per_Sqft'].isnull().values.any())

False
False
True
True
False
True
False
False
True
True

bathroom,furnishing,,parking,type , per sq feet

In [ ]:
print(df['Bathroom'].isnull().sum())
print(df['Furnishing'].isnull().sum())
print(df['Parking'].isnull().sum())
print(df['Type'].isnull().sum())
print(df['Per_Sqft'].isnull().sum())

2
5
33
5
241

In [ ]:
print("Number of Categories in: ")
for ColName in df[['Bathroom','Furnishing','Parking','Type','Locality']]:
    print("{} = {}".format(ColName,       len(df[ColName].unique())))

Number of Categories in:
Bathroom = 8
Furnishing = 4
Parking = 10
Type = 3
Locality = 365

In [ ]:
df.Locality.value_counts().sort_values(ascending = False).head(35)

Lajpat Nagar 3                                                  34
Lajpat Nagar 2                                                  33
J R Designers Floors, Rohini Sector 24                          31
Kailash Colony, Greater Kailash                                 30
Yamuna Vihar, Shahdara                                          29
Laxmi Nagar                                                     25
Mehrauli                                                        24
Chittaranjan Park                                               24
Saket                                                           21
Alaknanda                                                       20
DDA Flats Sarita Vihar, Sarita Vihar, Mathura Road              19
Safdarjung Enclave                                              18
Chhattarpur                                                     17
The Amaryllis, Karol Bagh                                       17
Sheikh Sarai Phase 1                                            17
Dilshad Colony, Dilshad Garden                                  16
Patel Nagar West                                                15
Mahavir Enclave Part 1                                          15
Common Wealth Games Village, Commonwealth Games Village 2010    15
New Friends Colony                                              14
DLF Capital Greens, New Moti Nagar, Kirti Nagar                 14
New Moti Nagar, Kirti Nagar                                     14
Malviya Nagar                                                   13
Vasundhara Enclave                                              12
Hauz Khas                                                       12
Sukhdev Vihar, Okhla                                            12
New Manglapuri, Sultanpur                                       11
Rohini Sector 24                                                10
Mahavir Enclave                                                 10
Vasant Kunj                                                     10
Narmada Apartment, Alaknanda                                    10
The Leela Sky Villas, Patel Nagar                               10
Narela                                                           9
DDA Lig Flats, Narela                                            9
Govindpuri Extension, Kalkaji                                    9
Name: Locality, dtype: int64

In [ ]:
for i in df[['Bathroom','Furnishing','Parking','Type']]:
  most_frequent_category=df[i].mode()[0]
  df[i].fillna( most_frequent_category, inplace = True)
  print("{} = {}".format(i,most_frequent_category))


mean = df['Per_Sqft'].mean()
df['Per_Sqft'].fillna(df['Per_Sqft'].mean(), inplace = True)
print(mean)

Bathroom = 2.0
Furnishing = Semi-Furnished
Parking = 1.0
Type = Builder_Floor
15690.136542239685

In [ ]:
print(df['Bathroom'].isnull().sum())
print(df['Furnishing'].isnull().sum())
print(df['Parking'].isnull().sum())
print(df['Type'].isnull().sum())
print(df['Per_Sqft'].isnull().sum())

0
0
0
0
0

In [ ]:
x = df.copy()
y= x.pop("Price")
#x = df.iloc[:, :-1].values
#y = df.iloc[:, 9].values
print(x.shape)
#print(x)
#print(y)

for ColName in x[['Bathroom','Furnishing','Parking','Type','Transaction']]:
  dummy = pd.get_dummies(x[ColName])
  x = pd.concat([x,dummy], axis  = 1)
  
print(x.head(3))
print(x.shape)

for ColName in x[['Bathroom','Furnishing','Parking','Type','Transaction']]:
  x.drop([ColName], axis = 1,inplace = True) 

print(x.head(3))
print(x.shape)

(1259, 9)
    Area  BHK  Bathroom  ... Builder_Floor New_Property  Resale
0  800.0    3       2.0  ...             1            1       0
1  750.0    2       2.0  ...             0            1       0
2  950.0    2       2.0  ...             0            0       1

[3 rows x 32 columns]
(1259, 32)
    Area  BHK  ... New_Property  Resale
0  800.0    3  ...            1       0
1  750.0    2  ...            1       0
2  950.0    2  ...            0       1

[3 rows x 27 columns]
(1259, 27)

In [ ]:

top_50 = [ i for i in df.Locality.value_counts().sort_values(ascending = False).head(50).index]
#top_50

In [ ]:
for label in top_50:
  x[label] = np.where(x['Locality'] == label ,1,0)

x.drop(['Locality'], axis = 1,inplace = True) 
x

         Area  ...  Maharani Bagh, New Friends Colony
0       800.0  ...                                  0
1       750.0  ...                                  0
2       950.0  ...                                  0
3       600.0  ...                                  0
4       650.0  ...                                  0
...       ...  ...                                ...
1254   4118.0  ...                                  0
1255   1050.0  ...                                  0
1256    875.0  ...                                  0
1257    990.0  ...                                  0
1258  11050.0  ...                                  0

[1259 rows x 76 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size = 0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

y_pred = regressor.predict(x_test)

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(r2*100,"%")

70.43020714637692 %

In [ ]:
#from sklearn.preprocessing import LabelEncoder,OneHotEncoder
#from sklearn.compose import ColumnTransformer
#lben = LabelEncoder()
#x.iloc[:,3] = lben.fit_transform(x.iloc[:,3])
#x.iloc[:,6] = lben.fit_transform(x.iloc[:,6])
#x.iloc[:,7] = lben.fit_transform(x.iloc[:,7])
#x.iloc[:,4] = lben.fit_transform(x.iloc[:,4])
#print(x["Locality"])
#x[:,4] = lben.fit_transform(x[:,4])
#print(x.shape)
#print(x.dtypes)
#ohen = OneHotEncoder( categories='auto')

#ct = ColumnTransformer([('one_hot_encoder', OneHotEncoder(categories='auto'), [4])],remainder='passthrough')
#x= ohen.fit_transform(x)
#x_1=ohen.fit_transform(x.iloc[:,4].reshape(-1, 1)).toarray()
#print(x)